/* BaseCSS Stylesheet */

/* Importing components sheet */
@import url(components.css);

/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Extra css */

/* CONTAINER */
.container {
    width: 100% !important;
}

@media (min-width: 375px)
{
    .container {
        width: 90% !important;
    }
}

@media (min-width: 1440px)
{
    .container {
        width: 70% !important;
    }
}

@media (min-width: 1440px)
{
    .container {
        width: 70% !important;
    }
}

@media (min-width: 1600px)
{
    .container {
        width: 60% !important;
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto; 
    }
}

@media (max-width: 1000px)
{
    .sidenav {
        display: none;
    }
    .main-content {
        padding: 20px 10px !important;
    }
}

/* MAIN CONTENT */
.main-content {
    box-sizing: border-box;
}

/* BACK TO TOP Btn*/
.btt {
    color: #fff;
    position: fixed;
    padding: 10px 12px;
    bottom: 10%;
    right: 10%;
    border-radius: 80px;
    background: #0000FF;
    border: 0;
}

@media (max-width: 1000px)
{
    .btt {
        right: 1.5%;
        padding: 8px 10px;
        z-index: 9999999;
    }
    .main-content {
        border-left: 0 !important;
    }
}

@media (max-width: 426px)
{
    .btt {
        display: none !important;
    }
}

/* Nav button */
.docs {
    padding-top: 13px;
}
.fa-bars {
    padding-top: 2px;
}

nav .action-btn {
    border-radius: 4px;
}
nav .action-btn:hover {
    background: #0096FF !important;
    border: 1px solid #0096FF;
    color: white;
}
.nav-right-icon {
    /* box-sizing: content-box; */
    padding-top: 3px;
}
a:hover {
    color: #0096FF !important;
}
.main-category {
    color: #9e9e9e;
    font-size: 17px;
}

.social-icons {
    justify-content: center;
}

@media (max-width: 426px)
{
    nav .container {
        width: 95% !important;
    }
    .nav-right {
        display: none !important;
    }
    .nav-mobile-toggle {
        padding-top: 9px;
    }
    .mobile-nav {
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0%;
        padding-top: 28px;
        background: #fff;
    }
}
@media(max-width: 376px) {
    .mobile-nav {
        width: 95%;
    }
}
@media (min-width: 600px)
{
    .nav-mobile-toggle {
        display: none !important;
    }
    .mobile-nav {
        display: none !important;
    }
}

.demo {
    background: #eeeeee;
    border-radius: 4px;
    box-sizing: border-box;
}

/* HTML snippet*/
.tag {
    color:#e99c68;
}
.class {
    color: #b78ac4;
}
.bracket {
    color: #003cff;
}
.style-rule {
    color: #9f5e08;
}
.class-name {
    color: #6096d3;
}
.drk {
    color: #9f5e08;
}
.gry {
    color: #9e9e9e;
}
.border-black {
    border-color: black !important;
}

/* Height Styling */
.height-demo {
    background: #fff;
    height: 400px;
    
    justify-content: space-between;
}
.height-demo-child {
    /* width: 8%; */
    border-radius: 4px;
    margin-top: auto;
}
.height-pixels {
    column-gap: 20px;
}
.hp {
    margin-top: auto;
}
.bp-row {
    justify-content: space-between;
    flex-wrap: wrap;
}

.bp-row .demo {
    margin-bottom: 20px;
}

@media (max-width: 1000px)
{
    .hp {
        width: 18% !important;
    }
    .bp-row .demo {
        width: 48%;
    }
}

@media (max-width: 500px)
{
    .h-percent {
        overflow-x: scroll;
        column-gap: 20px;
    }
    .h-percent p {
        width: 60px;
    }
    .hp {
        width: 18% !important;
    }
    .margin-y {
        flex-wrap: wrap;
    }
    .margin-y .hp {
        margin-bottom: 20px;
    }
    .bp-row .demo {
        width: 100%;
    }
}


/* COLOR */

.color-row {
    flex-wrap: wrap;
}

.color-row .demo {
    margin-bottom: 20px;
}

@media (min-width:392px) {
    .color-row .demo {
        width: 47%;
    }
}

@media (min-width:768px) {
    .color-row .demo {
        width: 148px;
    }
}

@media (min-width: 1024px) {
    .color-row .demo {
        width: 22.8%;
    }
}

@media (min-width: 1280px) {
    .color-row .demo {
        width: 23.1%;
    }
}

/* FORM */
@media (max-width:500px) {
    .form-container{
        flex-wrap: wrap;
    }
    .form-container .flex{
        width: 100% !important;
        margin-bottom: 20px;
    }
}
.form-container .flex{
    width: 30%;
}

.index-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
}

h1.hero {
    font-size: 39px;
    width: 100%;
}

#display {
    margin-top: 200px;
}

@media (max-width:900px) {
    div#display {
        margin-top: 80px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    #display h1 {
        font-size: 30px;
        /* text-align: center; */
    }
}

@media (max-width:500px) {
    div#display {
        margin-top: 40px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    #display h1 {
        font-size: 24px;
        /* text-align: center; */
    }
}

@media (min-width:1600px) {
    div#display {
        margin-top: 300px;
    }
}

.get-started:hover {
    background: #003cff;
}

/* DEFAULT styling - Applies if nothing else is specified */
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;  
}
/* CONTAINER */
.container {
    width: 90%;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto; 
}

/* FLOAT */
.float-l {
    float: left;
}
.float-r {
    float: right;
}
.float-none {
    float: none;
}

/* DISPLAY - FLEX */
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

/* POSITION - */
.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

/* FLEX - columns */
.flex-col {
    flex-direction: column;
}
.flex-col-reverse {
    flex-direction: column-reverse;
}
.col-gap-0 {
    column-gap: 0;
}
.col-gap-1 {
    column-gap: 10px;
}
.col-gap-2 {
    column-gap: 20px;
}
.col-gap-3 {
    column-gap: 30px;
}
.col-gap-4 {
    column-gap: 40px;
}

/* FLEX - rows */
.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.space-between {
    justify-content: space-between;
}
.row-gap-0 {
    row-gap: 0;
}
.row-gap-1 {
    row-gap: 10px;
}
.row-gap-2 {
    row-gap: 20px;
}
.row-gap-3 {
    row-gap: 30px;
}
.row-gap-4 {
    row-gap: 40px;
}

/* DISPLAY - grid */
.grid {
    display: grid;
}

/* DISPLAY - block */
.block {
    display: block;
}

/* DISPLAY - inline-block */
.inline-block {
    display: inline-block;
}

/* DISPLAY - none */
.hide {
    display: none;
}

/* FONT - sizes*/
.tiny-font {
    font-size: 0.75rem !important;
}
.normal-font {
    font-size: 1rem !important;
}
.big-font {
    font-size: 1.25rem !important;
}
.small-heading {
    font-size: 1.5rem !important;
}
.medium-heading {
    font-size: 1.75rem !important;
}
.main-heading {
    font-size: 2rem !important;
}

/* FONT - weight*/
.fw-thin {
    font-weight: 100;
}
.fw-normal {
    font-weight: 400;
}
.fw-thick {
    font-weight: 600 !important;
}
.fw-extra-thick {
    font-weight: 800 !important;
}

/* TEXT - align */
.font-left {
    text-align: left;
}
.font-right {
    text-align: right;
}
.font-center {
    text-align: center;
}

/* TEXT - underline */
.font-underline {
    text-decoration: underline;
}

/* BORDER */
.border-none {
    border: 0;
}
.border-thin {
    border: 1px solid #d6d6d6;
}
.border-thick {
    border: 2px solid #d6d6d6;
}

/* BORDER - top */
.border-t-none {
    border-top: 0;
}
.border-t-thin {
    border-top: 1px solid #d6d6d6;
}
.border-t-thick {
    border-top: 2px solid #d6d6d6;
}

/* BORDER - bottom */
.border-b-none {
    border-bottom: 0;
}
.border-b-thin {
    border-bottom: 1px solid #d6d6d6;
}
.border-b-thick {
    border-bottom: 2px solid #d6d6d6;
}

/* BORDER - left */
.border-l-none {
    border-left: 0;
}
.border-l-thin {
    border-left: 1px solid #d6d6d6;
}
.border-l-thick {
    border-left: 2px solid #d6d6d6;
}

/* BORDER - right */
.border-r-none {
    border-right: 0;
}
.border-r-thin {
    border-right: 1px solid #d6d6d6;
}
.border-r-thick {
    border-right: 2px solid #d6d6d6;
}

/*COLOR - text color*/
.font-white {
    color: #FFF;
}
.font-black {
    color: #000;
}
.font-red {
    color: #D22B2B;
}
.font-light-red {
    color: #FAA0A0;
}
.font-deep-red {
    color: #A42A04;
}
.font-green {
    color: #228B22;
}
.font-light-green {
    color: #90EE90;
}
.font-deep-green {
    color: #355E3B;
}
.font-blue {
    color: #0000FF;
}
.font-light-blue {
    color: #A7C7E7;
}
.font-deep-blue {
    color: #00008B;
}

/*COLOR - background*/
.bg-white {
    background: #FFF !important;
}
.bg-black {
    background: #000;
}
.bg-light-red {
    background: #ffe4e4;
}
.bg-deep-red {
    background: #C04000;
}
.bg-light-green {
    background: #ECFFDC;
}
.bg-deep-green {
    background: #228B22;
}
.bg-light-blue {
    background: #F0FFFF;
}
.bg-deep-blue {
    background: #0096FF;
}

/* MARGIN - four equal sides */
.m-0 {
    margin: 0;
}
.m-1 {
    margin: 10px;
}
.m-2 {
    margin: 20px;
}
.m-3 {
    margin: 30px;
}
.m-4 {
    margin: 40px;
}

/* MARGIN - two equal sides (Top / Bottom) */
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-4{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* MARGIN - two equal sides (Left / Right) */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mx-0 {
    margin-left: 0;
    margin-right: 0;
}
.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}
.mx-2 {
    margin-left: 20px;
    margin-right: 20px;
}
.mx-3 {
    margin-left: 30px;
    margin-right: 30px;
}
.mx-4 {
    margin-left: 40px;
    margin-right: 40px;
}

/* MARGIN - one side (Top) */
.mt-0 {
    margin-top: 0;
}
.mt-1{
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}

/* MARGIN - one side (Bottom) */
.mb-0 {
    margin-bottom: 0;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}
.mb-4 {
    margin-bottom: 40px;
}

/* MARGIN - one side (Left) */
.ml-auto {
    margin-left: auto;
}
.ml-0 {
    margin-left: 0;
}
.ml-1{
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.ml-4 {
    margin-left: 40px;
}

/* MARGIN - one side (Right) */
.mr-auto {
    margin-right: auto;
}
.mr-0 {
    margin-right: 0;
}
.mr-1{
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}
.mr-4 {
    margin-right: 40px;
}

/* PADDING - four equal sides */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
.p-3 {
    padding: 30px;
}
.p-4 {
    padding: 40px;
}

/* PADDING - two equal sides (Top / Bottom) */
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.py-4{
    padding-top: 40px;
    padding-bottom: 40px;
}

/* PADDING - two equal sides (Left / Right) */
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}
.px-4 {
    padding-left: 40px;
    padding-right: 40px;
}

/* PADDING - one side (Top) */
.pt-0 {
    padding-top: 0;
}
.pt-1{
    padding-top: 10px;
}
.pt-2 {
    padding-top: 20px;
}
.pt-3 {
    padding-top: 30px;
}
.pt-4 {
    padding-top: 40px;
}

/* PADDING - one side (Bottom) */
.pb-0 {
    padding-bottom: 0;
}
.pb-1{
    padding-bottom: 10px;
}
.pb-2 {
    padding-bottom: 20px;
}
.pb-3 {
    padding-bottom: 30px;
}
.pb-4 {
    padding-bottom: 40px;
}

/* PADDING - one side (Left) */
.pl-0 {
    padding-left: 0;
}
.pl-1{
    padding-left: 10px;
}
.pl-2 {
    padding-left: 20px;
}
.pl-3 {
    padding-left: 30px;
}
.pl-4 {
    padding-left: 40px;
}

/* PADDING - one side (Right) */
.pr-0 {
    padding-right: 0;
}
.pr-1{
    padding-right: 10px;
}
.pr-2 {
    padding-right: 20px;
}
.pr-3 {
    padding-right: 30px;
}
.pr-4 {
    padding-right: 40px;
}

/*WIDTH - percentages*/
.w-100p {
    width: 100%;
}
.w-screen {
    height: 100vw;
}
/* .w-95p {
    width: 95%;
} */
.w-90p {
    width: 90%;
}
.w-80p {
    width: 80%;
}
.w-70p {
    width: 70%;
}
.w-60p {
    width: 60%;
}
.w-50p {
    width: 50%;
}
.w-40p {
    width: 40%;
}
/* .w-33p {
    width: 33.333%;
} */
.w-30p {
    width: 30%;
}
/* .w-25p {
    width: 25%;
} */
.w-20p {
    width: 20%;
}
.w-10p {
    width: 10%;
}
/* .w-5p {
    width: 5%;
} */

/*WIDTH - pixels*/
.w-1 {
    width: 10px;
}
.w-2 {
    width: 20px;
}
.w-3 {
    width: 30px;
}
.w-4 {
    width: 40px;
}

/*HEIGHT - percentages*/
.h-100p {
    height: 100%;
}
.h-screen {
    height: 100vh;
}
.h-95p {
    height: 95%;
}
.h-90p {
    height: 90%;
}
.h-80p {
    height: 80%;
}
.h-70p {
    height: 70%;
}
.h-60p {
    height: 60%;
}
.h-50p {
    height: 50%;
}
.h-40p {
    height: 40%;
}
.h-33p {
    height: 33.333%;
}
.h-30p {
    height: 30%;
}
.h-25p {
    height: 25%;
}
.h-20p {
    height: 20%;
}
.h-10p {
    height: 10%;
}
.h-5p {
    height: 5%;
}

/*HEIGHT - pixels*/
.h-1 {
    height: 10px;
}
.h-2 {
    height: 20px;
}
.h-3 {
    height: 30px;
}
.h-4 {
    height: 40px;
}

/*BOX-SHADOW*/
.box-shadow-sm {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box-shadow-lg {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cursor-pointer {
    cursor: pointer;
}